/*
===================
宽屏
===================
*/

/*导航宽度*/
.header{
	width:85%;
}

/*主体内容结构*/
.main_wrap{
	width:90%;
}

/*页脚、底部*/
.footer_wrap{
	width:100%;
}




/*
===================
快捷菜单
===================
*/

/*快捷菜单按钮*/
.qmenu{
position: absolute;
right:10px; 
top:0px;
width: 31px;
background:url(../../images/qmenu.png) center no-repeat;
text-indent: -9999px;
float: right;
background-position: right 0;
height: 30px;
margin: 10px 0 0 10px;
cursor: pointer;
}

/*快捷菜单面板*/
.menup{
position:fixed;
width:auto!important;
-webkit-border-radius: 6px;
-moz-border-radius: 6px;
border-radius: 6px;
background-color: #fff;
-webkit-box-shadow: 0 2px 3px rgba(0,0,0,.05), inset 0 -2px rgba(0,0,0,.15);
-moz-box-shadow: 0 2px 3px rgba(0,0,0,.05), inset 0 -2px rgba(0,0,0,.15);
box-shadow: 0 2px 3px rgba(0,0,0,.05), inset 0 -2px rgba(0,0,0,.15);
display:none;
z-index:9999999!important;
}

.menup ul{
	margin: 5px 0;
}

.menup a{
display: block;
padding: 3px 20px;
clear: both;
font-weight: 400;
line-height: 1.42857143;
color: #333;
white-space: nowrap;
font-size: 14px;
text-decoration : none
}

.menup a:hover, .menup a:focus {
color: #262626;
text-decoration: none;
background-color: #f5f5f5;
}
.menup h2{
text-align:center;
padding: 4px;
border-bottom-color: #dfdfdf;
border-bottom-width: 1px;
border-bottom-style: solid;
}

/*快捷面板显示后按钮样式*/
.qmenu-a{

}




/*
===================
帖子列表布局
===================
*/

/*帖子列表*/
.mr0 {
margin-right: 0!important;
}

/*帖子列表背景*/
.main {
background: #fff!important;
}

/*帖子列表信息控制宽度*/
.tb-info{
width:10%;
}

/*帖子列表信息快间距*/
.thread_posts_list .num span {
margin: 5px 0 5px 10px!important;
}

/*帖子列表信息作者颜色*/
.thread_posts_list .info a {
color: #333 !important;
}
/*瀑布流间距*/
.tmode_waterfall {width: 23%!important;}




/*
===================
在屏幕宽度<=768px设备上固定网站宽度768px
===================
*/

@media screen and (max-width: 768px){

/*导航宽度*/
.header{
	width:768px;
}

/*主体内容结构*/
.main_wrap{
	width:768px;
}

/*页脚、底部*/
.footer_wrap{
	width:768px;
}

/*快捷菜单按钮*/
.qmenu {
	right:5px;
	top:70px;
	background:url(../../images/mmenu.png) center no-repeat;
	width: 47px;
	height: 47px;
}

}




/*
===================
DOCK布局
===================
*/
.forumlogo img{
	display: block;
	width: 80px;
}

.forumlogo .flogo{
	position: relative;
}

.forumlogo .shadow {
	height: 28px;
	margin: auto;
}