<hook-action name="displayPostTorrentHtml" args='pargs'>
    <style>
        .post_extend {
            border: 1px dashed #ccc;
            background: #f3f9fb;
            padding: 10px;
            margin-bottom: 10px;
        }
        .post_extend_ct {
            float: left;
            width: 375px;
            border-right: 1px solid #d5e6ed;
        }
        .post_extend_sd {
            float: left;
            border-left: 1px solid #d5e6ed;
            margin-left: -1px;
            padding-left: 10px;
            width: 448px;
        }
        .post_item li {
            float: left;
            height: 28px;
            margin-bottom: 10px;
            width: 100%;
        }
        .post_item li:last-child {
            padding-bottom: 0;
        }
        .post_item li span {
            font-weight: bold;
        }
        .t_attr, .t_attr_t {
            display: none;
        }
    </style>
    <!--# if (Wekit::C('site','app.torrent.titlegen.ifopen') > 0) { #-->
    <div class="cc post_extend" id="titleMaker">
        <select class="mr10" name="t_type">
            <option value="5">-- 资源种类 --</option>
            <option value="1">书籍</option>
            <option value="2">影视</option>
            <option value="21">剧集</option>
            <option value="3">音乐</option>
            <option value="4">软件</option>
            <option value="5">其他</option>
        </select>
        <span class="t_attr" id="t_b">请填写“外部参考” - “豆瓣读书 ID”</span>
        <span class="t_attr" id="t_v">
        请填写“外部参考” - “豆瓣电影 ID”
        <select class="mr10" name="t_v_r">
            <option value="其他分辨率">-- 分辨率 --</option>
            <option value="1080P">1080P</option>
            <option value="720P">720P</option>
            <option value="480P">480P</option>
            <option value="其他分辨率">其他</option>
        </select>
        <select class="mr10" name="t_v_f">
            <option value="其他格式">-- 文件格式 --</option>
            <option value="MKV">MKV</option>
            <option value="RMVB">RMVB</option>
            <option value="MP4">MP4</option>
            <option value="AVI">AVI</option>
            <option value="MPEG">MPEG</option>
            <option value="TS">TS</option>
            <option value="其他格式">其他</option>
        </select>
        <select class="mr10" name="t_v_q">
            <option value="其他质量">-- 影片质量 --</option>
            <option value="DVDrip">DVDrip</option>
            <option value="HDRip">HDRip</option>
            <option value="BDRip">BDRip</option>
            <option value="R5">R5</option>
            <option value="DVDScr">DVDScr</option>
            <option value="BDMV">BDMV</option>
            <option value="HDTV">HDTV</option>
            <option value="其他质量">其他</option>
        </select>
        <select class="mr10" name="t_v_s">
            <option value="无">-- 字幕 --</option>
            <option value="简中">简中</option>
            <option value="繁中">繁中</option>
            <option value="英文">英文</option>
            <option value="中英">中英</option>
            <option value="中日">中日</option>
            <option value="外挂">外挂</option>
            <option value="无">无</option>
            <option value="其他字幕">其他</option>
        </select>
        </span>
        <span class="t_attr" id="t_vs">
        <select class="mr10" name="t_vs_s">
            <option value="">-- 状态 --</option>
            <option value="完结">完结</option>
            <option value="连载">连载</option>
            <option value="单集">单集</option>
            <option value="特别">特别</option>
            <option value="其他状态">其他</option>
        </select>
        <input type="text" class="input" name="t_vs_se" placeholder="季度、集数">
        </span>
        <span class="t_attr" id="t_a">
        请填写“外部参考” - “豆瓣音乐 ID”
        <input type="text" class="input" name="t_a_f" placeholder="文件格式">
        <input type="text" class="input" name="t_a_b" placeholder="码率">
        </span>
        <span class="t_attr" id="t_s">
        <select class="mr10" name="t_s_p">
            <option value="其他平台">-- 运行平台 --</option>
            <option value="Win">Win</option>
            <option value="Mac">Mac</option>
            <option value="Linux">Linux</option>
            <option value="其他平台">其他</option>
        </select>
        <select class="mr10" name="t_s_l">
            <option value="其他语言">-- 语言 --</option>
            <option value="简中">简中</option>
            <option value="繁中">繁中</option>
            <option value="英文">英文</option>
            <option value="多国">多国</option>
            <option value="其他语言">其他</option>
        </select>
        <select class="mr10" name="t_s_f">
            <option value="其他格式">-- 格式 --</option>
            <option value="可执行文件">可执行文件</option>
            <option value="压缩包">压缩包</option>
            <option value="磁盘镜像">磁盘镜像</option>
            <option value="其他格式">其他</option>
        </select>
        </span>
        <span class="t_attr_t">
        <input type="text" class="input" name="t_n_c" placeholder="中文名">
        &nbsp;&nbsp;<input type="text" class="input" name="t_n_o" placeholder="外文原名（若有）">
        </span>
        <button type="button" class="btn btn_submit mr10" id="UpdateInfo">更新标题和简介</button>
    </div>
    <!--# } #-->
    <div class="cc post_extend">
        <div class="post_extend_ct">
            <div class="post_item">
                <ul>
                    <li><span>种子文件： </span><input type="file" class="input length_5" name="torrent" value=""></li>
                    <li>
                        <span>外部参考：</span>
                        <select class="length_2" name="quote">
                            <option value="0">Wiki 链接</option>
                            <!--# if (Wekit::C('site','app.torrent.titlegen.ifopen') > 0) { #-->
                            <option value="11">豆瓣读书 ID</option>
                            <option value="12">豆瓣电影 ID</option>
                            <option value="13">豆瓣音乐 ID</option>
                            <option value="2">IMDB ID</option>
                            <!--# } #-->
                        </select>&nbsp;&nbsp;
                        <input type="text" class="input length_3" name="wikilink" value="{$wikilink}">
                    </li>
                </ul>
            </div>
        </div>
        <div class="post_extend_sd">
            <div class="post_item">
                <ul>
                    <li><span>发布说明：</span><p>1、必须上传种子文件；</p></li>
                    <li><p>2、填写“外部参考”配合上方标题生成器；</p></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="cc post_extend" style="color:#FF0000">Private Tracker 地址（点击文本框复制到剪贴板，请不要泄露给其他人）：<input id="tracker" type="text" class="input" name="tracker" value="{@WindUrlHelper::createUrl('/app/torrent/index/announce?passkey='.$pargs->passkey)}" style="width:640px;"><button class="btn copy" data-clipboard-target="#tracker">复制</button></div>

    <script>
    Wind.js('/src/extensions/torrent/res/js/clipboard.min.js', function() {
        var clipboard = new Clipboard('.copy');

        clipboard.on('success', function(e) {
            alert('Tracker 已复制到剪贴板！');
        });

        clipboard.on('error', function(e) {
            alert('复制失败，请使用 Ctrl + C 复制！');
        });
    });

    Wind.ready(function() {
        <!--# if (Wekit::C('site','app.torrent.titlegen.ifopen') > 1) { #-->
        $('#J_atc_title').attr('readonly', 'readonly').attr('placeholder', '请使用标题生成器');
        <!--# } #-->

        $('[name="t_type"]').change(function() {
            $('.t_attr, .t_attr_t').hide();
            $('select[name="quote"] option').hide();
            switch ($(this).val()) {
                case '1':
                    $('#t_b').show();
                    $('input[name="wikilink"]').attr('placeholder', '26305561');
                    $('select[name="quote"] option[value="11"]').show();
                    $('select[name="quote"]').val('11');
                    break;
                case '2':
                    $('#t_v').show();
                    $('input[name="wikilink"]').attr('placeholder', '10741834');
                    $('select[name="quote"] option[value="12"]').show();
                    $('select[name="quote"] option[value="2"]').show();
                    $('select[name="quote"]').val('12');
                    break;
                case '21':
                    $('#t_v').show();
                    $('#t_vs').show();
                    $('input[name="wikilink"]').attr('placeholder', '25845393');
                    $('select[name="quote"] option[value="12"]').show();
                    $('select[name="quote"] option[value="2"]').show();
                    $('select[name="quote"]').val('12');
                    break;
                case '3':
                    $('#t_a').show();
                    $('input[name="wikilink"]').attr('placeholder', '11603071');
                    $('select[name="quote"] option[value="13"]').show();
                    $('select[name="quote"]').val('13');
                    break;
                case '4':
                    $('#t_s').show();
                    $('.t_attr_t').show();
                    $('input[name="wikilink"]').attr('placeholder', 'https://zh.wikipedia.org/wiki/Microsoft_Windows');
                    $('select[name="quote"] option[value="0"]').show();
                    $('select[name="quote"]').val('0');
                    break;
                case '5':
                    $('.t_attr_t').show();
                    $('input[name="wikilink"]').attr('placeholder', 'https://zh.wikipedia.org/wiki/%E6%9D%A8%E6%B0%B8%E4%BF%A1');
                    $('select[name="quote"] option[value="0"]').show();
                    $('select[name="quote"]').val('0');
            }
        });

        $('select[name="quote"]').change(function() {
            switch ($(this).val()) {
                case '12':
                    $('input[name="wikilink"]').attr('placeholder', '10741834');
                    break;
                case '2':
                    $('input[name="wikilink"]').attr('placeholder', 'tt0111161');
            }
        });

        $('#UpdateInfo').click(function() {
            var url = "{@WindUrlHelper::createUrl('/app/torrent/index/updateInfo')}";

            var paras = {};
            switch ($('[name="t_type"]').val()) {
                case '2':
                case '21':
                    paras = {
                        resolution: $('[name="t_v_r"]').val(),
                        format: $('[name="t_v_f"]').val(),
                        rip: $('[name="t_v_q"]').val(),
                        sub: $('[name="t_v_s"]').val(),
                        se: $('[name="t_vs_se"]').val(),
                        status: $('[name="t_vs_s"]').val(),
                    };
                    break;
                case '3':
                    paras = {
                        format: $('[name="t_a_f"]').val(),
                        bps: $('[name="t_a_b"]').val(),
                    };
                    break;
                case '4':
                case '5':
                    paras = {
                        platform: $('[name="t_s_p"]').val(),
                        lang: $('[name="t_s_l"]').val(),
                        format: $('[name="t_s_f"]').val(),
                        name: $('[name="t_n_c"]').val(),
                        oname: $('[name="t_n_o"]').val(),
                    };
            }

            paras.t_type = $('[name="t_type"]').val();
            paras.w_type = $('[name="quote"]').val();
            paras.wikilink = $('[name="wikilink"]').val();

            $.post(url, paras, function(data) {
                $('input[name="atc_title"]').val(data.title);
                $('input[name="wikilink"]').val(data.wikilink);
                $('iframe.wind_editor_iframe').contents().find('body.editor_content').text(data.content);
            }, 'json');
        });
    });
    </script>
</hook>
