<hook-action name="displayPostTorrentHtml" args='pargs'>
    <style>
        .post_extend {
            border: 1px dashed #ccc;
            background: #f3f9fb;
            padding: 10px;
            margin-bottom: 10px;
        }

        .post_extend_sd {
            float: left;
            border-left: 1px solid #d5e6ed;
            margin-left: -1px;
            padding-left: 10px;
            width: 448px;
        }

        .post_item li {
            float: left;
            height: 28px;
            margin-bottom: 10px;
            width: 100%;
        }

        .post_item li:last-child {
            padding-bottom: 0;
        }

        .post_item li span {
            font-weight: bold;
        }

        .t_attr {
            display: none;
        }

        code#tracker {
            width: 640px;
            display: inline-block;
        }

        code#tracker .covered {
            color:rgb(51,51,51);
            background: rgb(51,51,51);
        }

        .wind_dialog .core_pop .dialog_wrapper {
            padding: 20px;
        }

        #J_dialog_html {
            display: none;
        }
    </style>
    <div class="cc post_extend">
        <div class="post_extend_sd">
            <div class="post_item">
                <ul>
                    <li>
                        <span>种子文件： </span>
                        <input type="file" class="input length_6" name="torrent" accept=".torrent">
                    </li>
                    <li>
                        <span>参考链接： </span>
                        <input type="text" class="input length_5" name="wikilink" placeholder="https://movie.douban.com/subject/1292226/">
                        <button type="button" class="btn btn_submit" id="J_update_info">更新数据</button>
                    </li>
                </ul>
            </div>
        </div>
        <div class="post_extend_sd">
            <div class="post_item">
                <ul>
                    <li>
                        <span>发布说明：</span>
                        <p>1、必须上传种子文件；</p>
                    </li>
                    <li>
                        <p>2、填写“参考链接”配合标题生成器；</p>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="cc post_extend" style="color:#FF0000">
        Private Tracker 地址（点击右侧按钮复制到剪贴板，请不要泄露给其他人）：
        <code id="tracker" class="input">{@PwUtils::getTrackerUrl('__PASSKEY__')}</code>
        <button class="btn copy" data-clipboard-target="#tracker" style="height: 28px">
            <img src="/src/extensions/torrent/res/images/clippy.svg" alt="Copy to clipboard" style="height: 100%;">
        </button>
    </div>
    <div id="J_dialog_html">
        <div class="dialog_wrapper">
            <h3>功能简介</h3>
            <p>标题生成器是一个快速创建标题和正文内容的工具，可以通过豆瓣、IMDb等数据库自动填充关键信息。</p>
            <h3>使用说明</h3>
            <ol>
                <li>点击“更新数据”，打开标题生成器并填写“参考链接”</li>
                <li>填写其他参数并点击“更新”以生成数据</li>
                <li>点击“插入”将数据插入编辑器</li>
            </ol>
        </div>
    </div>
    <script>
    Wind.use('jquery', 'dialog', '/src/extensions/torrent/res/js/clipboard.min.js', function() {
        $('code#tracker').html($('code#tracker').html().replace('__PASSKEY__', '<span class="covered">{$pargs->passkey}</span>'));

        var clipboard = new Clipboard('.copy');

        clipboard.on('success', function(e) {
            alert('Tracker 已复制到剪贴板！');
        });

        clipboard.on('error', function(e) {
            alert('复制失败，请使用 Ctrl + C 复制！');
        });

        <!--# if (Wekit::C('site','app.torrent.titlegen.enabled') > 1) { #-->
        $('#J_atc_title').attr('readonly', 'readonly').attr('placeholder', '请使用标题生成器');
        $('#J_title_tip').html('<a>什么是标题生成器?</a>');
        <!--# } #-->

        <!--# if (Wekit::C('site','app.torrent.titlegen.enabled') > 0) { #-->
        $('#J_title_tip a').click(function(){
            Wind.dialog.html($('#J_dialog_html').html(), {
                title : '标题生成器',
                width : 400,
                isDrag : true
            });
        });

        $('#J_update_info').click(function(){
            $.get('{@WindUrlHelper::createUrl('/app/torrent/title/html')}', function(data) {
                Wind.dialog.html(data, {
                    title : '标题生成器',
                    width : 400,
                    isDrag : true
                });
            }, 'html');
        });
        <!--# } #-->
    });
    </script>
</hook>
