<hook-action name="displayProfileTorrentHtml" args='pargs'>
    <style>
        #passkey.covered {
            background: rgb(51,51,51);
        }

        #posted li, #histories dd {
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
        }
    </style>
    <div class="space_profile">
        <h3><strong>Tracker个人信息</strong></h3>
        <!--# if ($pargs->visitUid == $pargs->spaceUid) { #-->
        <dl class="cc">
            <dt>Passkey：</dt>
            <dd>
                <span class="covered" id="passkey" style="color:rgb(51,51,51);">{$pargs->passkey}</span>&nbsp;
                <button class="btn" id="btnTogglePasskey">显示/隐藏</button>
            </dd>
        </dl>

        <dl class="cc">
            <dt>订阅地址：</dt>
            <dd>
                <a href="{@WindUrlHelper::createUrl('/app/torrent/index/rss?passkey=' . $pargs->passkey)}">RSS 链接（请勿泄露）</a>&nbsp;<a href="{@WindUrlHelper::createUrl('/like/mylike/run')}" class="btn">管理</a>
            </dd>
        </dl>
        <!--# } #-->

        <dl class="cc">
            <dt>下载：</dt>
            <dd>{$pargs->leeching}</dd>
        </dl>
        <dl class="cc">
            <dt>做种：</dt>
            <dd>{$pargs->seeding}</dd>
        </dl>
        <dl class="cc">
            <dt>分享率：</dt>
            <dd>{$pargs->rotio}</dd>
        </dl>
        <dl class="cc">
            <dt>下载量：</dt>
            <dd>{$pargs->downloaded_total}</dd>
        </dl>
        <dl class="cc">
            <dt>上传量：</dt>
            <dd>{$pargs->uploaded_total}</dd>
        </dl>
        <dl class="cc">
            <dt>发布：</dt>
            <dd>{@count($pargs->torrents)}&nbsp;<button class="btn" id="btnTogglePosted">显示/隐藏</button></dd>
        </dl>
        <div id="posted">
            <!--# if (is_array($pargs->torrents)) { #-->
            <!--# foreach($pargs->torrents as $torrent) { #-->
            <ul>
                <li><a href="{@WindUrlHelper::createUrl('/bbs/read/run?tid=' . $torrent['tid'])}">{$torrent['subject']}</a></li>
            </ul>
            <!--# } #-->
            <!--# } #-->
        </div>
        <dl class="cc">
            <dt>历史：</dt>
            <dd>{@count($pargs->histories)}&nbsp;<button class="btn" id="btnToggleHistories">显示/隐藏</button></dd>
        </dl>
        <div id="histories">
            <!--# if (is_array($pargs->histories)) { #-->
            <!--# foreach($pargs->histories as $torrent) { #-->
            <dl class="cc">
                <dd><a href="{@WindUrlHelper::createUrl('/bbs/read/run?tid=' . $torrent['tid'])}">{$torrent['subject']}</a></dd>
                <dt>
                    <!--#
                    switch ($torrent['state']) {
                        case 'started':
                            if ($torrent['left'] > 0) {
                                echo '下载中';
                            } else {
                                echo '做种中';
                            }
                            break;
                        case 'stopped':
                            if ($torrent['left'] > 0) {
                                echo '未完成';
                            } else {
                                echo '已完成';
                            }
                            break;
                    }
                    #-->
                </dt>
            </dl>
            <!--# } #-->
            <!--# } #-->
        </div>
    </div>

    <script>
    Wind.ready(function() {
        $('#posted, #histories').hide();

        $('#btnTogglePasskey').click(function() {
            $('#passkey').toggleClass('covered');
        });

        $('#btnTogglePosted').click(function() {
            $('#posted').slideToggle();
        });

        $('#btnToggleHistories').click(function() {
            $('#histories').slideToggle();
        });
    });
    </script>
</hook>
