<hook-action name="displayReadTorrentHtml" args='torrent'>
    <style>
        .torrent {
            margin-bottom: 10px;
        }

        .torrent li {
            border-bottom: 1px solid #CCC;
            height: 30px;
            line-height: 30px;
        }

        .torrent li strong {
            display: block;
            float: left;
            height: 30px;
            line-height: 30px;
            text-align: right;
            width: 100px;
        }

        .torrent li span {
            display: block;
            float: left;
            height: 30px;
            line-height: 30px;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            width: 200px;
        }

        .torrent ul.file li span {
            margin-right: 10px;
            width: 500px;
        }

        .torrent ul.file li span:last-child {
            width: 100px;
        }
    </style>
    <div class="torrent cc">
        <ul>
            <li>
                <strong>种子原名：</strong>
                <span>{$torrent['filename']}</span>
                <strong><a href="{@WindUrlHelper::createUrl('/app/torrent/index/download?id=' . $torrent['id'])}">下载种子</a></strong>
                <strong><a href="{@WindUrlHelper::createUrl('/app/torrent/index/subscribe?id=' . $torrent['id'])}" id="subTorrent">订阅/取消</a></strong>
            </li>
            <li style="color: #F00; padding-left: 3em;">请妥善保管您的种子文件和订阅链接，种子文件和订阅链接中包含您的个人信息，泄露可能导致上传下载数据异常</li>
            <li>
                <strong>添加时间：</strong>
                <span>{$torrent['added']}</span>
                <strong>做种：</strong>
                <span style="width: 50px;<!--# if($torrent['seeder']=='断种') echo 'color:red;'; #-->">{$torrent['seeder']}</span>
                <strong>下载：</strong>
                <span style="width: 50px;">{$torrent['leecher']}</span>
            </li>
            <!--# if($torrent['wikilink']!='') { #-->
            <li><strong>Wiki链接：</strong><a href="{$torrent['wikilink']}" target="_blank">{$torrent['wikilink']}</a></li>
            <!--# } #-->
            <li><strong>Hash码：</strong>{$torrent['info_hash']}</li>
            <li><strong>文件数量：</strong><span>共有{$torrent['numfiles']}个文件</span><strong>文件大小：</strong><span>{$torrent['size']}</span></li>
        </ul>
        <ul class="file">
            <!--# if(is_array($torrent['list'])) { #-->
            <li id="toggleFileList">文件列表：（点击展开/收拢）</li>
            <div id="fileList" style="display:none;">
                <li><span>文件名</span><span>文件大小</span></li>
                <!--# foreach($torrent['list'] as $file) { #-->
                <li><span title="{$file['filename']}">{$file['filename']}</span><span>{$file['size']}</span></li>
                <!--# } #-->
            </div>
            <!--# } #-->
        </ul>
    </div>
    <script>
    Wind.ready(function() {
        $('#toggleFileList').click(function() {
            $('#fileList').slideToggle();
        });

        $('#subTorrent').click(function() {
            var link = $(this).attr('href');

            $.get(link, function(data) {
                if (data.status == 0) {
                    alert('订阅成功！');
                } else if (data.status == 1) {
                    if (confirm('已经订阅过该种子，是否取消订阅？')) {
                        $.get(link + '&unsub=true', function(data) {
                            if (data.status == 0) {
                                alert('取消订阅成功！');
                            } else {
                                alert(data.message);
                            }
                        }, 'json');
                    }
                } else {
                    alert(data.message);
                }
            }, 'json');

            return false;
        });
    });
    </script>
</hook>
