<!doctype html>
<html>

<head>
    <template source='TPL:admin.common.head' />
</head>

<body>
    <div class="wrap">
        <div class="nav">
            <ul class="cc">
                <li><a href="{@WindUrlHelper::createUrl('/app/torrent/manage/run')}">基本设置</a></li>
                <li><a href="{@WindUrlHelper::createUrl('/app/torrent/manage/agent')}">客户端设置</a></li>
                <li class="current"><a href="{@WindUrlHelper::createUrl('/app/torrent/manage/credit')}">积分设置</a></li>
            </ul>
        </div>
        <form method="post" class="J_ajaxForm" action="{@WindUrlHelper::createUrl('/app/torrent/manage/docredit')}">
            <div class="h_a">自定义积分开关</div>
            <div class="table_full">
                <table width="100%">
                    <col class="th" />
                    <col width="400" />
                    <col />
                    <tr>
                        <th>启用自定义积分</th>
                        <td>
                            <ul class="switch_list cc">
                                <li>
                                    <label>
                                        <input type="radio" name="creditifopen" value="1" {@pw::ifcheck($config[ 'app.torrent.creditifopen']==1 )}><span>开启</span>
                                    </label>
                                </li>
                                <li>
                                    <label>
                                        <input type="radio" name="creditifopen" value="0" {@Pw::ifcheck($config[ 'app.torrent.creditifopen']==0 )}><span>关闭</span>
                                    </label>
                                </li>
                            </ul>
                        </td>
                        <td>
                            <div class="fun_tips">启用后允许 WindPT 根据 tracker 数据修改用户积分</div>
                        </td>
                    </tr>
                </table>
            </div>
            <!--# if ($config['app.torrent.creditifopen']) { #-->
            <div class="h_a">自定义积分设置</div>
            <div class="table_full">
                <table width="100%" id="J_group_table">
                    <col width="100" />
                    <col width="80" />
                    <col />
                    <!--# if (is_array($creditType)) { #-->
                    <!--# foreach ($creditType as $key => $type) { #-->
                    <tr>
                        <th>{$type}</th>
                        <td>
                            <label>
                                <input type="checkbox" name="credits[{$key}][enabled]" value="1" {@Pw::ifcheck($config[ 'app.torrent.credits'][$key][ 'enabled']==1 )}><span>启用</span>
                            </label>
                        </td>
                        <td>
                            <input type="text" name="credits[{$key}][exp]" class="input" value="{$config['app.torrent.credits'][$key]['exp']}" style="width: 100%;">
                        </td>
                    </tr>
                    <!--# } #-->
                    <!--# } #-->
                    <tr>
                        <td colspan="3">可用变量：alive 当前种子存在天数, seeders 当前种子做种数, leechers 当前种子下载数, size 当前种子文件大小(Bytes), seeding 用户做种数, leeching 用户下载数, downloaded_add 当前种子用户下载增量, downloaded_total 用户总下载量, uploaded_add 当前种子用户上传增量, uploaded_total 用户总上传量, rotio 当前种子分享率, rotio_total 用户总分享率, time 当前 peer 连接时长, time_la 当前 peer 上次更新时长, torrents 用户发布种子数, credit 当前积分持有量</td>
                    </tr>
                </table>
            </div>
            <!--# } #-->
            <div class="btn_wrap">
                <div class="btn_wrap_pd">
                    <button class="btn btn_submit mr10 J_ajax_submit_btn" type="submit">提交</button>
                </div>
            </div>
        </form>
    </div>
    <template source='TPL:admin.common.footer' />
</body>

</html>
